*{
  margin: none;
  padding: none;
  font-family: sans-serif;
}

.filter-purple
{
  filter: invert(69%) sepia(7%) saturate(1338%) hue-rotate(270deg) brightness(90%) contrast(91%);
}

h1{
  color: #C492B1;
}

.navbar{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:right;
}

.navbar .links, .logo{
  display: flex;
  align-items: center;
}

.navbar .logo img{
  height: 300px;
  position: absolute;
  top: 0%;
  left: 0;
}


.link, .logo{
  margin: 10px;
  cursor: pointer;
}

.login{
  background-color: #774062;
  color: #ffffff;
  padding: 10px;
  width: 90px;
  border-radius: 30px;
  text-align: center;
}

.home{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.p{
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.features h1{
  text-align: center;
  margin-top: 100px;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.card{
  height: 30%;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features .cards .card img{
  display: flex;
  width: 200px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #c0c0c055;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.footer img{
  margin: 5px;
}

.madewith{
  display: flex;
  align-items: center;
  flex-direction: row;
}